use flake

# Common
export TLS_CERT_PATH="../../tls/localhost+2.pem"
export TLS_KEY_PATH="../../tls/localhost+2-key.pem"

# Backend
export DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
export USE_HTTPS="true"

# Frontend
export NEXT_PUBLIC_SUPABASE_URL=your-project-url
export NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
